<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class = "reservation">
	<div class = "container">
	<h3>Check Availability</h3>
		<form action="" class="form">
			<div class="input-group">
				<label for ="check-in" class="input-label">Check-In-Date</label>
				<input type="date" class="input" id="check-in">
			</div>
			<div class="input-group">
				<label for ="check-out" class="input-label">Check-Out-Date</label>
				<input type="date" class="input" id="check-out">
			</div>
			<div class="input-group">
				<label for ="rooms" class="input-label">Number of Rooms</label>
				<select class="options" id="rooms">
					<option value="0">1</option>
					<option value="0">2</option>
					<option value="0">3</option>
					<option value="0">4</option>
					<option value="0">5</option>
				</select>
			</div>
			<div class="input-group">
				<label for ="adults" class="input-label">Number of Adults</label>
				<select class="options" id="rooms">
					<option value="0">1</option>
					<option value="0">2</option>
					<option value="0">3</option>
					<option value="0">4</option>
					<option value="0">5</option>
				</select>
			</div>
			<div class="input-group">
				<label for ="child" class="input-label">Number of Children</label>
				<select class="options" id="childs">
					<option value="0">1</option>
					<option value="0">2</option>
					<option value="0">3</option>
					<option value="0">4</option>
					<option value="0">5</option>
				</select>
			</div>
			<button class="btn form-btn btn-primary">Check Availability</button>
		</form>
	
	</div>
		
	</section>
</body>
</html>